:root {
  /* Типографика */
  --family: 'Manrope', Arial, Helvetica, sans-serif;
  --line-height: 18px;
  --fs-sm: 10px;
  --fs-md: 14px;
  --fs-md-lg: 18px;
  --fs-md-xlg: 22px;
  --fs-lg: 32px;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-bold: 800;

  /* Цвета */

  /* Текст */
  --colors-text-main: #000000;
  --colors-text-alt: #ffffff;
  --colors-text-title: #00aaff;
  --colors-text-desc: #757575d7;
  --colors-text-button: #ffffff;;
  --colors-text-hover: rgb(255, 64, 83);

  /* Интерфейс */
  --colors-bg: #ffffff;
  --colors-bg-alt: #2a2a2a;
  --colors-ui: #1baaff;
  --colors-ui-hover: #0099f7;
  --colors-ui-active: #008aed;
  --colors-ui-border: #5c5a5a12;
  --colors-filter-unchecked-btn: #f2f1f0;
  --colors-filter-btn-unchecked-hover: #ebeae8;
  --colors-filter-btn-checked: #141414;
  --colors-filter-btn-checked-hover: #292929;
  --colors-edit-btn: #f2f1f0;
  --colors-edit-btn-hover: #ebeae8;;
 

  /* Тени */
  --shadow: rgba(149, 157, 165, 0.183) 3px 5px 7px;
  /* --shadow-alt: rgba(0, 1, 1, 0.561) 5px 5px 7px;
  --shadow-filters: 4px 4px #827f7f;
  --shadow-hover: rgba(149, 157, 165, 0.342) 3px 5px 7px; */

  /* Другое */
  --radii: 0.8rem;
}